{layout name="layout" /}
<h3>控制器 - 步骤2</h3>

<br>
<textarea readonly style="width: 100%; height: 550px; font-family: &quot;Courier New&quot;; font-size: 12px; line-height: 1.5;">
    //list
    public function {$function_name|default='index'}List()
    {
        return json();
    }
    //edit
    public function {$function_name|default='index'}Edit()
    {
        return json();
    }
    //add
    public function {$function_name|default='index'}Add()
    {
        return json();
    }
    //del
    public function {$function_name|default='index'}Del()
    {
        return json();
    }
</textarea>