{layout name="layout" /}
<div>
    <h3>ThinkPHP5.1.20！<span style="color: red;">第一次使用请一定查看下列信息</span></h3><br>
    <h4>
        1、本工具基于：<b>ThinkPHP5.1.20  +  mysql数据库</b><br><br>
        <!--2、公共方法 扩展配置 自动生成代码、验证器 模型 控制器  视图  自动生成代码或文件。<br><br>-->
        <!--3、步骤：请首先建立好数据库，然后修改本程序中的"/application/database.php"数据库配置<br><br>-->
        <!--4、建议将每个字段标注<span style="color: red;">“备注”</span>，字段的备注在本工具中非常有用，验证器、模型，-->
        <!--视图都会用到备注<br><br>-->
        <!--5、[模型]模型会根据表来创建，<span style="color: red;">一张表对应一个数据层模型</span>，-->
        <!--如果你使用到<span style="color: red;">服务层、逻辑层</span>，也会创建对应的服务层、逻辑层模型-->
        <!--根据需求生成。<br><br>-->
        <!--&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: red;">1)服务层模型，带有调用逻辑层的增删改查4个方法</span><br><br>-->
        <!--&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: red;">2)逻辑层模型，带有调用数据层的常用几个方法</span><br><br>-->
        <!--&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: red;">3)数据层模型，绑定表和主键，软删除，自动写入时间、一对多，-->
        <!--一对一、多对多等关联模型</span><br><br>-->
        <!--6、[验证器]选择字段信息后，字段生成相应的验证器代码。目前只有生成代码，后续会完成，生成文件<br><br>-->
        <!--7、[控制器] 选择模块后，自动生成控制器文件，并带有List、Edit、Add、Del4个方法，逻辑需要自己写。<br><br>-->
        <!--8、[视图]，生成的视图文件，使用的<span style="color: red;">layui</span><br><br>-->
        <!--ps:本工具为个人开发,如果有什么好的建议，欢迎提出<br>-->
    </h4>
</div>
<script type="text/javascript">
    //一般直接写在一个js文件中
    layui.use(['layer', 'form'], function(){
        var layer = layui.layer, form = layui.form;
        layer.msg('ThinkPHP5.1.20');
    });
</script>